<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wd.player.database.mapper.SongPlaylistMidMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wd.player.database.entity.SongPlaylistMid">
        <result column="playlist_id" property="playlistId" />
        <result column="song_id" property="songId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <delete id="deleteAll">
        delete from song_playlist_mid
    </delete>

</mapper>
